body {
	margin: 0;
	padding: 0;
}

canvas {
	background-color: #000;
	background-repeat: repeat;
	background-position: top left;
	border: 1px solid #999;
}

.grid05 { background-image: url('images/grid05x05.png'); }
.grid10 { background-image: url('images/grid10x10.png'); }
.grid25 { background-image: url('images/grid25x25.png'); }
.grid50 { background-image: url('images/grid50x50.png'); }


div.controller {
	margin: 0;
	padding: 3px;
}

a#play {
	margin: 0;
	padding: 0;
	display: block;
	width: 32px;
	height: 32px;
	background-color: transparent;
	background-image: url('images/playpause.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-indent: -1000px;
	overflow: hidden;
}

a#play.playing {
	background-position: 0px -32px;
}